{% extends 'base.html' %}

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">About MatatuFare</h1>
                <p class="lead">The Commuter's App of Choice.</p>
            </div>
        </div>
    </div>
</section>


<section id="about" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>We Search For The Most Affordable Route For You</h2>
                <p class="lead">MatatuFare is an app that assits commuters to
                    know the fare beforehand to avoid being conned by the matatu
                    crew, and to be able to do a comparison for the cheapest
                    route for routes where more than one sacco operates.</p>
                <img src="static/img/route.jpg" alt="">
                <p class="mt-4">If there is a Route you would like us to include
                    you can reach out to us through the Contact Us page.</p>
            </div>
        </div>
    </div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Try MatatuFare today.</h4>
    <hr>
    <a href="https://gonative.io/share/jkbwwo" class="btn btn-secondary
        text-white btn-lg">Download Your Android App Here</a>
</section>

<!-- Team -->
<section id="team" class="py-5">
    <div class="container">
        <h2 class="text-center">Our Partners</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="static/img/digitalmatatu.jpg" alt=""
                    class="rounded-circle
                    mb-3">
                <h4>Digital Matatus</h4>
                <hr>
                <p>
                    <i class="fas fa-phone"></i> (555)-555-5555</p>
                <p>
                    <i class="fas fa-envelope-open"></i>
                    digitalmatatus@matatufare.co</p>
            </div>

            <div class="col-md-4">
                <img src="static/img/gok.jpg" alt="" class="rounded-circle
                    mb-3">
                <h4>The Government of Kenya</h4>
                <hr>
                <p>
                    <i class="fas fa-phone"></i> (444)-444-4444</p>
                <p>
                    <i class="fas fa-envelope-open"></i>
                    gok@matatufare.gov</p>
            </div>

            <div class="col-md-4">
                <img src="static/img/codeB.jpg" alt=""
                    class="rounded-circle mb-3">
                <h4>Bonaventure Ogeto</h4>
                <hr>
                <p>
                    <i class="fas fa-phone"></i> (333)-333-3333</p>
                <p>
                    <i class="fas fa-envelope-open"></i>
                    bonaventure@matatufare.co</p>
            </div>
        </div>
    </div>
</section>
{%endblock content%}
