{% extends 'base.html' %} {% block title %} | Welcome {% endblock %} {% load static %}

<!-- # -->
{% block content %}

<!--Alerts-->
{% include 'partials/_alerts.html' %}

<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-20">
            <img src="static/img/map.jpg" alt="" />
            <div class="overlay p-5">
                <h1 class="display-2 mb-4">MatatuFare</h1>
                <p class="lead">Want to search for route and fare?</p>
                <div class="search">
                    <form action="{% url 'search' %}">
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">From</label>
                                <input type="text" name="route_from" class="form-control" placeholder="From" />
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="sr-only">To</label>
                                <input type="text" name="route_to" class="form-control" placeholder="To" />
                            </div>
                            <button class="btn btn-secondary" type="submit">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock content%}